$blue : #00457c;
$red : #bc0726;
$white : #fbf5f3;
$black: #484a47;

$body-text-color : #484a47;




// fonts

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

$font-stack: Lato, sans-serif;
