@media only screen and (max-width:64em) {



/**************
## Container ##
**************/
.mobile-container {
    position: relative;
    height: 100%;
    -webkit-overflow-scrolling: touch; 
}

/************
## Nav Icon ##
************/
.mobile-toggle {
    right: 9999px;
    position: absolute;
    top: -9999px; 
}


.mobile-toggle-label {
    cursor: pointer;
    display: block;
    position: fixed;
    z-index: 99;
    width: 57px;
    height: 57px;
    border-radius: 20%;
    background-color: transparent;
    transition: all 400ms cubic-bezier(.39,.04,.3,.96);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}


.mobile-toggle-label:hover .mobile-toggle-icon, 
.mobile-toggle-label:hover .mobile-toggle-icon:before, 
.mobile-toggle-label:hover .mobile-toggle-icon:after {
    background-color: #f2f2f2; 
}

.mobile-toggle-label:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

.mobile-toggle-label .mobile-toggle-icon, 
.mobile-toggle-label .mobile-toggle-icon:before, 
.mobile-toggle-label .mobile-toggle-icon:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 36px;
    cursor: pointer;
    background: #f2f2f2;
    border-radius: 2px;
    display: block;
    content: '';
    transition: all 500ms cubic-bezier(.39,.04,.3,.96); 
}



.mobile-toggle-label .mobile-toggle-icon {
    transform: translate3d(-50%, -4px, 0);
    -webkit-transform: translate3d(-50%, -4px, 0); 
}

.mobile-toggle-label .mobile-toggle-icon:before {
    transform: translate3d(-50%, -14px, 0);
    -webkit-transform: translate3d(-50%, -14px, 0); 
}

.mobile-toggle-label .mobile-toggle-icon:after {
    transform: translate3d(-50%, 10px, 0);
    -webkit-transform: translate3d(-50%, 10px, 0); 
}

.mobile-toggle-label {
    right: 15px;
    left: auto; 
}


.mobile-toggle:checked ~ .mobile-toggle-label:not{
    opacity: 0;
    z-index: -1; 
}


.mobile-toggle:checked ~ .mobile-toggle-label .mobile-toggle-icon{
    background-color: transparent; 
}

.mobile-toggle:checked ~ .mobile-toggle-label .mobile-toggle-icon:before, 
.mobile-toggle:checked ~ .mobile-toggle-label .mobile-toggle-icon:after { 
    top: 0; 
}

.mobile-toggle:checked ~ .mobile-toggle-label .mobile-toggle-icon:before {
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg); 
}

.mobile-toggle:checked ~ .mobile-toggle-label .mobile-toggle-icon:after{ 
    transform: translateX(-50%) translateY(-10px) rotate(-45deg);
    -webkit-transform: translateX(-50%) translateY(-10px) rotate(-45deg);
    top: 10px; 
}

/*******************
## Off-Canvas Nav ##
********************/
.mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    visibility: hidden;
    background-color: #00457c;
    opacity: .93;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(.39,.04,.3,.96);
    height: 100%; 
    width: 100%;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
}

@media only screen and (min-width:40.063em) {
    .mobile-nav {
        /*height: 100%; */
    } 
}

/*@media only screen and (min-width:64.063em) {
     
}*/




/*****************************
## Slide in ##
*****************************/
/* DRAWER */
[data-effect='mobile-slide'] .mobile-nav {
    z-index: 3;
    transition-duration: 500ms; 
}

[data-effect='mobile-slide'] .mobile-nav {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); 
}

[data-effect='mobile-slide'] .mobile-toggle:checked ~ .mobile-nav{
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); 
}

/* OVERLAY */
[data-effect='mobile-slide'] .mobile-overlay {
    transition-duration: 500ms;
    transition-delay: 250ms; 
}






/*************************
## CHECKBOX MARGINS ##
*************************/
/*CANCEL OUT FOUNDATION NORMALIZE*/
input[type="checkbox"] + label, input[type="radio"] + label {
    margin-right: 0px;
    margin-top: 15px;
}

.mobile-nav ul a:link, .mobile-nav ul a:visited{
    font-family: 'Lato', Helvetica;
    color: #fbf5f3;
    display: block;
}


.mobile-nav ul{
    text-align: center;
    font-weight: 400;
    margin-top: 71px;
    margin-left: 0px;
   
}

.mobile-nav ul li{
    list-style-type: none;
    text-decoration: none;
    font-size: 2em;
    width: 100%;
    border-top: 2px solid #fbf5f3;
    border-bottom: 2px solid #fbf5f3;
    margin-top: -2px;
}

/*@media only screen and (max-width:40em) {
    .mobile-nav ul li a{
        padding: 9px;
    }
}


@media only screen and (min-width:40.063em) and (max-width:64em){
    .mobile-nav ul li a{
        padding: 22px; 
    }
}

@media only screen and (min-width:64.063em) {

}*/
}
