@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/*--------------------------------------------------------------
# Site Settings
--------------------------------------------------------------*/
body {
  background-color: #fbf5f3;
  color: #484a47; }

h1, h2, h3, h4, p {
  font-family: Lato, sans-serif; }

p {
  font-weight: 300; }

h1, h2, h3, h4 {
  color: #00457c; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header nav {
  line-height: 70px; }
  header nav a:link, header nav a:visited {
    color: #fbf5f3; }
  header nav a:hover {
    color: #bc0726; }
  header nav .sub-menu a:link, header nav .sub-menu a:visited {
    color: #00457c; }

header .site-branding .site-title {
  float: left;
  margin-top: -46px; }

.header {
  background-color: #00457c;
  box-shadow: 1px 1px 1px #888888;
  height: 60px; }
  .header img {
    max-width: 172px;
    height: auto;
    position: relative;
    padding: 12px; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: right;
  position: relative; }

.main-navigation ul {
  list-style: none;
  margin: 0; }

.main-navigation li {
  display: inline-block;
  position: relative;
  line-height: 60px;
  padding: 0 10px 0 10px; }

.main-navigation a {
  display: block;
  text-decoration: none; }

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 60px;
  left: -999em;
  z-index: 99999;
  background-color: #fbf5f3; }

.main-navigation ul ul ul {
  left: -999em;
  top: 0; }

.main-navigation ul ul a {
  width: 212px;
  display: block;
  padding-left: 16px; }

.main-navigation ul ul li {
  margin: 0;
  padding: 0; }

.main-navigation li:hover > a,
.main-navigation li.focus > a {
  background: #00457c; }

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
  color: #fbf5f3; }

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto; }

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  /*left: 100%;*/ }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .main-navigation ul {
    display: block; } }

/*--------------------------------------------------------------
# Home Sections
--------------------------------------------------------------*/
section {
  min-height: 300px; }

.newsletter {
  background-color: #00457c;
  color: #fbf5f3;
  width: 100%; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.footer-contact {
  background-color: #484a47;
  padding-top: 44px; }
  .footer-contact h2 {
    color: #fbf5f3; }
