@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/*--------------------------------------------------------------
# Site Settings
--------------------------------------------------------------*/
body {
  background-color: #fbf5f3;
  color: #484a47; }

h1, h2, h3, h4, p {
  font-family: Lato, sans-serif; }

p {
  font-weight: 300; }

h1, h2, h3, h4 {
  color: #00457c; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header nav {
  line-height: 70px; }
  header nav a:link, header nav a:visited {
    color: #fbf5f3; }
  header nav a:hover {
    color: #bc0726; }
  header nav .sub-menu a:link, header nav .sub-menu a:visited {
    color: #00457c; }

header .site-branding .site-title {
  float: left;
  margin-top: -46px; }

.header {
  background-color: #00457c;
  box-shadow: 1px 1px 1px #888888;
  height: 60px; }
  .header img {
    max-width: 172px;
    height: auto;
    position: relative;
    padding: 12px; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: right;
  position: relative; }

.main-navigation ul {
  list-style: none;
  margin: 0; }

.main-navigation li {
  display: inline-block;
  position: relative;
  line-height: 60px;
  padding: 0 10px 0 10px; }

.main-navigation a {
  display: block;
  text-decoration: none; }

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 60px;
  left: -999em;
  z-index: 99999;
  background-color: #fbf5f3; }

.main-navigation ul ul ul {
  left: -999em;
  top: 0; }

.main-navigation ul ul a {
  width: 212px;
  display: block;
  padding-left: 16px; }

.main-navigation ul ul li {
  margin: 0;
  padding: 0; }

.main-navigation li:hover > a,
.main-navigation li.focus > a {
  background: #00457c; }

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
  color: #fbf5f3; }

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto; }

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  /*left: 100%;*/ }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .main-navigation ul {
    display: block; } }

/*--------------------------------------------------------------
# Home Sections
--------------------------------------------------------------*/
.widget-title {
  font-size: 1.2em; }

section {
  min-height: 300px;
  padding: 22px 0px 22px 0px; }

.about-home {
  background-color: #00457c;
  color: #fbf5f3;
  width: 100%; }

.newsletter {
  background-color: #fbf5f3;
  color: #484a47;
  width: 100%; }

/*--------------------------------------------------------------
# Team Members 
--------------------------------------------------------------*/
.tmm_member {
  background-color: #00457c;
  border-top: 3px solid #bc0726;
  border-bottom: 0px; }
  .tmm_member .tmm_names {
    color: white;
    font-size: 1.2em; }

@media only screen and (min-width: 40.043em) {
  .tmm_3_columns .tmm_member {
    width: 27%;
    margin-right: 3%;
    margin-left: 3%; } }

.tmm_member .tmm_photo {
  border: none;
  border-radius: 50% !important; }

.tmm_names {
  color: #484a47; }

.tmm_desc {
  display: none; }

.tmm_scblock {
  margin: 0; }

.tmm_member .tmm_textblock .tmm_sociallink img {
  width: 38px;
  height: auto;
  margin: 0;
  padding: 0; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.footer-contact {
  background-color: #484a47;
  padding-top: 44px; }
  .footer-contact h2 {
    color: #fbf5f3; }

form {
  margin: 20px auto;
  width: 760px; }
  form input,
  form textarea {
    z-index: 1;
    position: relative;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 4px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-left: 10px;
    text-align: left;
    width: 220px; }
  form input.wide,
  form textarea {
    width: 725px; }
  form textarea {
    padding-top: 20px;
    height: 100px; }
  form ::-webkit-input-placeholder {
    color: #fbf5f3; }
  form :-moz-placeholder {
    /* Firefox 18- */
    color: #fbf5f3; }
  form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fbf5f3; }
  form :-ms-input-placeholder {
    color: #fbf5f3; }
  form .button, form a.button {
    border: 1px solid #fbf5f3;
    border-radius: 4px;
    color: #fbf5f3;
    font: 16px/16px "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 18px 40px;
    width: auto; }
  form .button:hover,
  form a.button:hover {
    background-color: #fbf5f3;
    border-color: #fbf5f3;
    color: #00457c;
    opacity: 1.0; }
  form .button {
    float: none;
    font-size: 14px;
    padding: 0 18px; }
  form .button {
    float: left; }
  form a.button, form .button {
    color: #fbf5f3;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #fbf5f3; }
